<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovejava.mapper.UserMapper">
    <!--开启二级缓存-->
    <cache/>
    <select id="findUserByAddr" resultType="user" parameterType="string">
        select * from user where address = #{address}
    </select>

    <select id="findUser" parameterType="user" resultType="user">
        select * from USER
        <where>
          <if test="sex !=null and sex != ''">
              and sex = #{sex}
          </if>
          <if test="address != null and address != ''">
              and address = #{address}
          </if>
        </where>
    </select>

    <!--参数是集合-->
    <select id="findByRang" resultType="user" parameterType="int">
        select * from user
        <if test="list != null and list.size>0">
            <foreach collection="list" item="id" separator="," open=" where id in (" close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <!--多表查询-->
    <!--自定义resultMAp-->
    <resultMap id="userMap" type="user">
        <id property="id" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="birthday" column="birthday"></result>
        <result property="sex" column="sex"></result>
        <result property="address" column="address"></result>
        <collection property="list" ofType="role">
            <id property="id" column="id"></id>
            <result property="work" column="work"></result>
            <result property="address" column="address"></result>
        </collection>
    </resultMap>

    <select id="findUserDemo" parameterType="int" resultMap="userMap">
        SELECT u.id uid,u.`address`,u.`username`,u.`birthday`,u.`sex`,r.* FROM USER u,role r,user_role ur WHERE ur.`rid`=r.`id` AND ur.`uid`=u.`id` AND u.`id`=#{id}
    </select>

    <select id="getUserByUserId" parameterType="int" resultType="User">
    SELECT * from USER WHERE id=#{id}
    </select>

</mapper>